<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-new btn-file">
    <%= avatar(user, 'profile') %>
    <%= f.file_field :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
  </div>
  <div class="btn-file preview"><div class="fileinput-preview fileinput-exists"></div><input type="file"></div>
  <%= link_to icon('undo', ' Revert'), '#', data: {dismiss: 'fileinput'}, class: 'fileinput-exists revert' %>
</div>