img {
  &.tiny {
    width:20px;
    height:20px;
  }
  &.thumb {
    width:40px;
    height:40px;
  }
  &.full {
    width:300px;
    height:300px;
  }
}
.organizations {
  & .header {
    padding:15px;
    background:#eee;
  }
  & form#search {
    float:right;
    & input[type=text] {
      width: 300px;
      height: 35px;
      float: left;
      margin-right:5px
    }
  }
  &.new form, &.edit form {
    width:840px;
    margin:0 auto;
    padding:10px;
    background:#eee;
    border:1px solid #ccc;
    & .form-inputs {
      width:500px;
      float:right;
    }
    & .image {
      float:left;
      & .preview {
        overflow:hidden;
        & .fileinput-preview {
          width:300px;
          height:300px;
        }
      }
    }
    #organization_about {
      height:120px;
      resize:none;
    }
  }
}





