@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background:white;
  padding:70px 40px 40px 40px;
  @import "landing";
  @import "sessions";
  @import "users";
  @import "organizations";
}

* {
  outline:0;
}
.btn-wide {
  width:100%;
  text-align:center;
}
.btn-sq {
  border-radius:0!important;
}
h5 {
  text-align:center;
  color:#777;
  font-size:16px;
}
// Bootstrap Overrides
.form-control {
  height:44px;
  color:#777;
  border-radius:3px;
}
label {
  font-weight:normal;
  margin-bottom:0;
  color:#777;
}
.btn {
  border-radius:3px;
}
hr {
  border-color:#ddd;
}
table {
  tr {
    td {
      a {
        line-height:40px;
      }
    }
  }
}