// Avatar Sizes
img {
  &.icon, &.profile, &.navatar {
    border-radius: 50%;
    overflow:hidden;
  }
  &.icon {
    width:30px;
    height:30px;
    margin:0 10px 0 0;
  }
  &.profile {
    width:200px;
    height:200px;
  }
}
.form-inputs .avatar {
  text-align:center;
  & .preview {
    border-radius: 50%;
    overflow:hidden;
    & .fileinput-preview {
      width:200px;
      height:200px;
    }
  }
}